.footer {
    background-color: #282828;
    color: lightgray;
    min-height: 1rem;
    padding: 5px 1rem;
    font-size: 13px;
    margin-top: 3rem;
    border-top: 1px solid rgba(160, 160, 160, 0.3);
}

.footer-link {
    padding: 5px 10px;
}

.footer-link:hover {
    color: cyan;
}

.flex-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* overflow: auto; 
       padding: 0 10px; */
}
